html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: inter;
    font-family: sans-serif;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #040114;
    height: auto;
    font-family: var(--font-family--body);
    color: var(--color--gray-4);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.aboutsection{
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;

}
*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color--black: #040114;
    --font-family--body: Inter, sans-serif;
    --color--gray-4: #e1e0e9;
    --font-family--heading: "Nohemi Vf", sans-serif;
    --color--heading: var(--color--white);
    --color--gray-3: #252332;
    --border-radius--border-radius: 20px;
    --color--gray-1: #070417;
    --color--primary-1: #7768d2;
    --color--white: white;
    --color--primary-2: #a535c5;
    --color--gray-2: #08051d;
    --border-radius--lg: 50px;
    --color--primary-3: #bf95f3;
    --color--primary-4: #f2c2f9;
    --border-radius--sm: 10px;
    --color--transparent: transparent;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}
nav ul{
    float: right;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    padding: 5px 15px;
}
nav ul li a{
    color: var(--color--gray-4);
    transition: all .6s ease;
}
a.active, a:hover{
    color: blue;
    transition: .5s;
}

.navlist{
    color: var(--color--gray-4);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px; 
    font-weight: 500;
    transition: .3s ease-in-out;
}
.navbar{
    padding-bottom: 30px;
    padding-top: 30px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;  
}
#check{
    display: none;
}
#menu-icon{
    font-size: 42px;
    z-index: 10001;
    margin-left: 25px;
    display: none;
}
.btn{
    padding: 10px 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 20px;
    border: none;
    background-color: var(--color--black);
    color: white;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn::after{
    content: '';
    position: absolute;
    height: 105%;
    width: 102%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image:linear-gradient(135deg, var(--color--primary-2) 40%, var(--color--primary-3));
    z-index: -1;
} 
.btn:hover{
    color: var(--color--primary-2);
}
.navright{
    display: flex;
}
@media(max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        width: auto;
        height: 23%;
        margin-top: 90px;
        background-color: var(--color--gray-1);
        padding: 20px;
        border: 1px solid var(--color--gray-3);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        margin-right: 30px;
        margin-left: 30px;
        transition: all .6s ease-in-out;
    }
    .navlist.a{
        display: block;
    }
    .navlist.open{
        left: 0;
    }
    #check:checked ~ .navlisst{
        left: 0;
    }
}
/* cyber-container-start */
.cyber-container{
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-top: 50px;
    padding-bottom: 80px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr .7fr;
    border-bottom: 1px solid var(--color--gray-3);
    grid-auto-columns: 1fr;
}
.cyber-heading{
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    display: flex;
    
}
.cyber-head{
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 68px;
    font-weight: 600;
    line-height: 1.2em;
}
.cyber-para{
    color: var(--color--gray-4);
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.cyber-list{
    display: flex;
    margin-top: auto;
    grid-column-gap: 30px;
    font-size: 18px;
    grid-row-gap: 15px;
    color: var(--color--gray-4);
}
 .cyber-list-items{
    grid-column-gap: 8px;
    grid-row-gap: 8px; 
    display: flex;
    width: 100%;
    margin-top: auto;
}
.img-main{
    position: relative;
}
.img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.cyber-img{
    position: relative;
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.img-decoration{
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    height: 80%;
    width: 80%;
    position: absolute;
    filter: blur(120px);
    margin: auto;
    inset: 0%;
}
/* cyber-container-end */
/* num-container-start */
.num-container{
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
}
.num-head{
    color: white;
    font-size: 50px;
    font-family: var(--font-family--heading);
}
.num-span{
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    -webkit-text-fill-color: transparent;
    
    background-clip: text;
    font-family: sans-serif;
}
/* mission-container-start */
.mission-container{
    display: flex;
    margin-top: 160px;
    margin-bottom: 160px;
    color: var(--color--gray-4);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1360px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    border: 1px solid var(--color--gray-3);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 40px;
}
.mission-card{
    font-size: 40px;
    height: 1.5em;
    text-align: center;
    position: relative;
}
.img-wrap{
    position: relative;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.binary-img{
    position: relative;
    z-index: 2;
}
.binary-img-logo{
    margin: auto;
    inset: 0%;
    z-index: 1;
    max-width: 100%;
    position: absolute;
}
.img-decoration{
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    height: 200px;
    width: 90%;
    filter: blur(100px);
    margin: auto;
    position: absolute;
    inset: 0%;
}
/* mission-container-end */
/* benifits-container-start */
.benifits-heading{
    text-align: center;
    margin-bottom: 80px;
}
.benifits-container{
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
    background-image: url(.images/.binary-svg);
}
.benifits-card{
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    border: 1px solid var(--color--gray-3);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 2;
    display: grid;
    background-color: var(--color--black);
}
.benifits-card-img{
    background-image: linear-gradient(135deg, var(--color--primary-1), var(--color--primary-2) 60%, var(--color--primary-4));
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 1px;
    display: flex;
    margin-bottom: 0;
}
.benifits-logo-bg{
    background-color: var(--color--gray-2);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
}
.benifits-logo{
    height: 24px;
    width: 24px;
}
.benifits-head{
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.3em;
    margin-top: 0;
    color: white;
}
.benifits-para{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 0;
}
.benifits-button{
    color: white;
    background-color: var(--color--black);
    border-color: var(--color--primary-2);
    border-radius: 30px;
    padding: 15px;
    padding-right: 90px;
    padding-left: 90px;
    font-size: 20px;
    bottom: 0;  
}
.benifits-title-wrap{
    z-index: 2;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: space-between;
    display: flex;
    position: relative;
}
.benifits-title{
    margin-bottom: 0;
    font-size: 26px;
    z-index: 2;
    color: var(--color--heading);
}
.button-black {
    z-index: 2;
    border-radius: var(--border-radius--lg);
    background-image: linear-gradient(135deg, var(--color--primary-2) 40%, var(--color--primary-4));
    padding: 1px;
    text-decoration: none;
    display: flex;
    overflow: hidden;
}
.button-black-bg {
    border-radius: var(--border-radius--lg);
    background-color: var(--color--black);
    color: var(--color--white);
    text-align: center;
    flex: 1;
    height: 100%;
    padding: 15px 30px;
}
.benifits-decoration-one{
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(100px);
    border-radius: 50%;
    width: 50%;
    height: 150px;
    margin: auto;
    position: absolute;
    inset: 0%;
}
.benifits-decoration-two{
    opacity: .3;
    margin: auto;
    position: absolute;
    inset: 0%;
}
/* trust-container-start */
.trust-container{
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.client-wrap{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
}
.client-driver{
    z-index: 2;
    background-image: linear-gradient(90deg, var(--color--black)25%, transparent);
    width: 50px;
    height: 100%;
    position: absolute;
}
.client-driver.left{
    inset: 0% auto 0% 0%;
}
.client-driver.right{
    inset: 0% 0% 0% auto;
}
.client-image-wrap{
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    border-color: var(--color--gray-1);
    padding: 15px 30px;
}
.client-image{
    width: 100%;
    height: 40px;
}
.client-grid{
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    opacity: .5;
    flex: none;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-strat;
    align-items: center;
    display: grid;
}
/* trust-container-end */
/* team-container-start */
.team-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20vh;
}
.team-img{
    height: 45vh;
    border-radius: 20px;
}
.team-head{
    color: white;
}
.team-para{
    color: var(--color--gray-4);
    text-align: center;
}
.blur-decoration{
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    border-radius: 50%;
    width: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: auto 0% -50px;
}
/* team-container-end */
/* contact-container-start */
.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20vh;
}
.contact-logo{
    margin: 25px;
}
.pages{
    display: flex;
    justify-content: row;
}
.contact-list{
    color: var(--color--gray-4);
    font-size: 20px;
}
/* contact-container-end */
/* footer-start */
.search-box{
    color: white;
    padding: 20px;
    background-color: var(--color--gray-2);
    border-radius: 20px;
    border-color: var(--color--primary-4);
    border-width: 1px;
    width: 40vh;
    font-size: 20px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    padding: 30px;
}
.design-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.design{
    color: white;
    font-size: 20px;
}
